<div class="container">
  <div class="row">
    <div class="alert alert-success">
      Thanks for your response. Read on to see how we can solve this together!
    </div>
  </div>


  <div class="row">
    <div class="col-sm-10">
      <h1>You're searching for a course or training program.</h1>
      <p>Nice that you're so proactive! We'd love to help you along.
        One of our specialists can look at your profile, give you <%= link_to "", "free personal advice" %>
        and even process a course booking. Please specify what you're searching for below.</p>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-2">
        <div class="thumbnail">
          <img src="http://lorempixel.com/g/150/150/animals/" alt="...">
          <div class="caption">
            <h3>Anny</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="thumbnail">
          <img src="http://lorempixel.com/g/150/150/fashion/" alt="...">
          <div class="caption">
            <h3>Doron</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="thumbnail">
          <img src="http://lorempixel.com/g/150/150/people/" alt="...">
          <div class="caption">
            <h3>Marlou</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="thumbnail">
          <img src="http://lorempixel.com/g/150/150/cats/" alt="...">
          <div class="caption">
            <h3>Midas</h3>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-10">
        <%= form_for @member, url: { controller: "members", action: "update" } do |f| %>

        <h2><%= @member.first_name %>, What are you looking for?</h2>
        <p>Be specific!</p>

        <div class="row">
          <%= f.fields_for :preferences do |p| %>

          <!-- Form group checkboxes for SUBJECT -->
          <div class="form-group form-inline clearfix">
            <%= p.label :subject, "Subject(s)", class: "control-label col-sm-2" %>      

            <% @subjects.each do |subject| %>
              <%= label_tag do %>
              <input name="member[preferences][subject][]" type="checkbox" value="<%= subject.name %>" <% if @member.subject.include?(subject.name) %>checked<% end %> >
              Art
              <% end %>
            <% end %>

          </div>

          <!-- Form group checkboxes for REGION -->
          <div class="form-group form-inline clearfix">
            <%= p.label :region, "Region(s)", class: "control-label  col-sm-2" %>
            
            <%= label_tag do %>
            <input name="member[preferences][region][]" type="checkbox" value="1" <% if @member.region.include?("1") %>checked<% end %> >
            Amsterdam
            <% end %>

            <%= label_tag do %>
            <input name="member[preferences][region][]" type="checkbox" value="2" <% if @member.region.include?("2") %>checked<% end %>  >
            Rotterdam
            <% end %>

            <%= label_tag do %>
            <input name="member[preferences][region][]" type="checkbox" value="3" <% if @member.region.include?('3') %>checked<% end %>  >
            Indiana
            <% end %>
          </div>

          <!-- Form group checkboxes for PRICE -->
          <div class="form-group form-inline clearfix">
          
            <%= p.label :price, "Price", class: "control-label col-sm-2" %>
            <%= label_tag do %>
            <input name="member[preferences][price][]" type="checkbox" value="free" <% if @member.price.include?('free') %>checked<% end %> >
            Free
            <% end %>

            <%= label_tag do %>
            <input name="member[preferences][price][]" type="checkbox" value="0-500" <% if @member.price.include?('0-500') %>checked<% end %>  >
            0-500
            <% end %>

            <%= label_tag do %>
            <input name="member[preferences][price][]" type="checkbox" value="500-1000" <% if @member.price.include?('500-1000') %>checked<% end %>  >
            500-1000
            <% end %>

          </div>

          <div class="form-group form-inline clearfix">
            <%= p.label :start_date, "Starting Date", class: "control-label col-sm-2" %>


            <%= label_tag do %>
            <input name="member[preferences][start_date][]" type="checkbox" value="2015-11-1"<% if @member.start_date.include?('2015-11-1') %>checked<% end %> >

              November 2015
            <% end %>

            <%= label_tag do %>
            <input name="member[preferences][start_date][]" type="checkbox" value="2015-12-1"<% if @member.start_date.include?('2015-12-1') %>checked<% end %> >

              December 2015
            <% end %>

            <%= label_tag do %>
            <input name="member[preferences][start_date][]" type="checkbox" value="2016-1-1"<% if @member.start_date.include?('2016-1-1') %>checked<% end %> >

              January 2016
            <% end %>
          </div>

          <% end %>

        </div>

        <!-- use this just to send an email to support -->
        <div class="form-group form-inline row">
          <%= label_tag :comments, "Comments", class: "control-label col-sm-2" %>
          <%= text_area_tag :comments, nil, cols: "40", rows: "8", class: "form-control col-sm-10" %>
        </div>

        <h2>And now what?</h2>
        <p>We're going to look at your specifications, do a little research and then contact you either via phone or email.</p>

        <div class="form-group form-inline clearfix">
          <%= f.label :phone, class: "control-label" %>
          <%= f.text_field :phone, class: "form-control" %>
        </div>

        <div class="form-group form-inline">
          <!-- use this for internal support - don't save in database -->

          <%= label_tag :requested_phonecall do %>
          <%= check_box_tag :requested_phonecall %>
          Yes, I'd like to receive a phonecall
          <% end %>
        </div>


        <%= f.submit "Help me out", class: "btn btn-success" %>
        <% end %>


      </div>
    </div>

  </div>